{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Getting Started with Python on Heroku</h1>
    <p>This is a sample Python application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <form style="color :black;" method="POST">{% csrf_token %}
      <p><b>Enter term(s) to analyze, separate terms with a comma</b></p>
      <input type="text" name="Term">
      <input type="number" name="numbers">
      <p><input type="date" name="Start">
        <input type="date" name="End"></p>
        <p><em>Select the source(s) to be used</em></p>
        <p><em>Google: </em> <input type="checkbox" name="google">
            <em>Youtube: </em> <input type="checkbox" name="youtube">
            <em>Twitter: </em> <input type="checkbox" name="twitter"></p>
        <p><input type="submit" name="submit"></p>
    </form>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
  {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}
  </div> <!-- row -->
  <div class="row">
    {% autoescape off %}
    {{ twitter_plot1 }}
    {% endautoescape %}
  </div>
  <div class="row">
    {% autoescape off %}
    {{ twitter_plot2 }}
    {% endautoescape %}
  </div>
</div>
{% endblock %}
