{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="https://glenndo.vercel.app/" class="lang-logo">
      <img src="{% static 'glenndo.png'%}">
    </a>
    <h1>Simple search term analysis</h1>
    <p>This is a simple Python application deployed to Heroku. It analyzes a term for Google Search, Youtube, and Twitter. The program returns an interest chart for Google and Youtube and the sentiment analysis of tweets with the term</p>
    <form style="color :black;" method="POST">{% csrf_token %}
      <p><b>Enter a term to analyze. On the right, enter the number of tweets to analyze</b></p>
      <input type="text" name="Term">
      <input type="number" name="numbers">
      <p><input type="date" name="Start">
        <input type="date" name="End"></p>
        <p><em>Select the source(s) to be used</em></p>
        <p><em>Google: </em> <input type="checkbox" name="google">
            <em>Youtube: </em> <input type="checkbox" name="youtube">
            <em>Twitter: </em> <input type="checkbox" name="twitter"></p>
        <p><input type="submit" name="submit"></p>
    </form>
    <p> You searched for: {{search}} <p>
  </div>
</div>
<div class="containter">
  <hr>
  <div class="item1">
  {% autoescape off %}
  {{ goog }}
  {% endautoescape %}
  </div> 
  <div class="item2">
    {% autoescape off %}
    {{ yout }}
    {% endautoescape %}
    </div> 
  <div class="item3">
    {% autoescape off %}
    {{ twitter_plot1 }}
    {% endautoescape %}
  </div>
  <div class="wrap-flex">
    <div>
    {% autoescape off %}
    {{  twitter_plot2 }}
    {% endautoescape %}
  </div>
    <div>
      {% autoescape off %}
      {{  twitter_plot3 }}
      {% endautoescape %} 
    </div>
  </div>
  </div>
</div>
{% endblock %}
